<%- include('.../../fragments/header.ejs') %> 

    <main>
        <h2>All Doctors</h2>
        <p>No records to display</p>
        <p>
            <a href="/Pages/Doctor/doctorForm.html" class="button-add">Add Doctor</a>
        </p>
    </main>

<%- include('../../fragments/footer.ejs') %>