<%- include('../../fragments/header.ejs') %>

    <main>
        <h2>Edit Doctor</h2>
        <form class="form" action="/Pages/Doctor/doctorEditedMessage.html">
            <label for="firstName">First Name:<span class="symbol-required">*</span></label>
            <input type="text" name="firstName" id="firstName" value="Jan" required>
            <span id="errorFirstName" class="errors-text"></span>
           
            <label for="lastName">Last Name:<span class="symbol-required">*</span></label>
            <input type="text" name="lastName" id="lastName" value="Kowalski" required>
            <span id="errorLastName" class="errors-text"></span>
           
            <label for="specialization">Specialization:<span class="symbol-required">*</span></label>
            <input type="text" name="specialization" id="specialization" value="Kardiolog" required>
            <span id="errorSpecialization" class="errors-text"></span>
            
            <div class="form-buttons">
                <p id="errorsSummary"></p>
                <input type="submit" value="Save" class="form-button-submit">
                <a href="/Pages/Doctor/allDoctors.html" class="form-button-cancel">Cancel</a>
            </div>   
        </form>
    </main>

<%- include('../../fragments/footer.ejs') %>