<%- include('../../fragments/header.ejs') %>

    <main>
        <h2>Message </h2>
        <p>New doctor added</p>
        <div class="form-buttons">
            <a href="/Pages/Doctor/allDoctors.html" class="button-add">OK</a>
        </div>  
    </main>

<%- include('../../fragments/footer.ejs') %>