<%- include('../../fragments/header.ejs') %>

		<main>
			<h2>New Doctor</h2>
			<form class="form" novalidate onsubmit="return Home();">
				<label for="firstName"
					>First Name:<span class="symbol-required">*</span></label
				>
				<input
					type="text"
					name="firstName"
					id="firstName"
					placeholder="2-60 znaków"
					required
				/>
				<span class="errors-text" id="errorFirstName"></span></span>
				<label for="lastName"
					>Last Name:<span class="symbol-required">*</span></label
				>
				<input
					type="text"
					name="lastName"
					id="lastName"
					placeholder="2-60 znaków"
					required
				/>
				<span id="errorLastName" class="errors-text"></span>
				<label for="specialization"
					>Specialization:<span class="symbol-required">*</span></label
				>
				<input
					type="text"
					name="specialization"
					id="specialization"
					placeholder="2-60 znaków"
					required
				/>
				<span id="errorSpecialization" class="errors-text"></span>
				<div class="form-buttons">
					<p id="errorsSummary" class="errors-text"></p>
					<a href="patients/add">
					<input
						type="submit"
						value="Add New Doctor"
						class="form-button-submit"
					/>
				</a>
					<a href="/" class="form-button-cancel"
						>Cancel</a
					>
				</div>
			</form>
		</main>
		<script type="application/javascript" src="/js/validationCommon.js"></script>
		<script type="application/javascript" src="/js/validationDoctorForm.js"></script>
	<%- include('../../fragments/footer.ejs') %>
