<%- include('../../fragments/header.ejs') %>

    <main>
        <h2>Remove Doctor</h2>
        <p>Are you sure you want to remove the doctor?</p>
            <div class="form-buttons">
                <p id="errorsSummary"></p>
                <a href="/Pages/Doctor/doctorRemovedMessage.html" class="button-add">OK</a>
                <a href="/Pages/Doctor/allDoctors.html" class="button-cancel">Cancel</a>
            </div>   
    </main>

<%- include('../../fragments/footer.ejs') %>