<%- include('./fragments/header.ejs') %>
    
    <main>
        <h2>Home Page</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda odit officiis eos architecto veritatis nam,
             omnis tempore? Doloribus, laudantium! Quasi alias odio rerum ex delectus odit sint consequuntur porro sit.</p>
    </main>

<%- include('./fragments/footer.ejs') %>