<%- include('../../fragments/header.ejs') %>

    <main>
        <h2>All Patients</h2>
        <p>No records to display</p>
        <p>
            <a href="/Pages/Patient/patientForm.html" class="button-add">Add Patient</a>
        </p>
    </main>

<%- include('../../fragments/footer.ejs') %>