<%- include('../../fragments/header.ejs') %>

    <main>
        <h2>Remove Patient</h2>
        <p>Are you sure you want to remove the patient?</p>
            <div class="form-buttons">
                <p id="errorsSummary"></p>
                <a href="/Pages/Patient/patientRemovedMessage.html" class="button-add">OK</a>
                <a href="/Pages/Patient/allPatients" class="button-cancel">Cancel</a>
            </div>   
    </main>

<%- include('../../fragments/footer.ejs') %>