<%- include('../../fragments/header.ejs') %>

    <nav>
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/Pages/Doctor/allDoctors.html">Doctors</a></li>
            <li><a href="/Pages/Patient/allPatients.html">Patients</a></li>
            <li><a href="/Pages/Visit/allVisits.html" class="active">Visits</a></li>
        </ul>
    </nav> 
    <main>
        <h2>All Visits</h2>
        <p>No records to display</p>
        <p>
            <a href="/Pages/Visit/visitForm.html" class="button-add">Add Visit</a>
        </p>
    </main>

<%- include('../../fragments/footer.ejs') %>