<%- include('../../fragments/header.ejs') %>

    <main>
        <h2>Remove Visit</h2>
        <p>Are you sure you want to remove visit?</p>
            <div class="form-buttons">
                <p id="errorsSummary"></p>
                <a href="/Pages/Visit/visitRemovedMessage.html" class="button-add">OK</a>
                <a href="/Pages/Visit/allVisits.html" class="button-cancel">Cancel</a>
            </div>   
    </main>

<%- include('../../fragments/footer.ejs') %>